<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">

        <div class="book-list-search">
          <span class="book-list-search-authors">
            <select onChange="window.location.href=this.value">
              <option disabled selected> -- filter by author -- </option>
              {{ site.books | author_select_from_books }}
            </select>
          </span>

          <span class="book-list-search-tags">
            <select onChange="window.location.href=this.value">
              <option disabled selected> -- filter by tag -- </option>
              {{ site.books | tag_select_from_books }}
            </select>
          </span>
        </div>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
